[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Gwenview Image Viewer
Name[bg]=KView Image Viewer
Name[ca]=Visualitzador d'imatges Gwenview
Name[de]=Gwenview Bildbetrachter
Name[el]=Προβολέας εικόνων Gwenview
Name[es]=Visor de imágenes Gwenview
Name[fa]=مشاهده‌گر تصویر Gwenview
Name[ga]=Amharcán Íomhánna Gwenview
Name[is]=Gwenview myndskoðari
Name[ja]=Gwenview 画像ビューア
Name[ne]=जीवेनभियू छवि दर्शक
Name[nl]=GWenview Afbeeldingenviewer
Name[pt]=Visualizador de Imagens Gwenview
Name[pt_BR]=Visualizador de Imagens Gwenview
Name[sv]=Gwenview bildvisare
Name[zh_TW]=Gwenview 影像檢視程式
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-krl;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=gvpart
InitialPreference=12
Icon=gwenview
