[Desktop Entry]
Type=Service
Name=Gwenview Image Viewer
# TODO: what is image/x-krl? Please register this mimetype at freedesktop.org if you need it
MimeType=image/gif;image/jpeg;image/jp2;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-webp;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=gvpart
InitialPreference=12
Icon=gwenview
