[Desktop Entry]
Type=Service
Name=Gwenview Image Viewer
Name[bg]=KView Image Viewer
Name[ca]=Visualitzador d'imatges Gwenview
Name[cs]=Prohlížeč obrázků Gwenview
Name[de]=Gwenview Bildbetrachter
Name[el]=Προβολέας εικόνων Gwenview
Name[eo]=Gwenview bildorigardilo
Name[es]=Visor de imágenes Gwenview
Name[et]=Gwenview pildinäitaja
Name[fa]=مشاهده‌گر تصویر Gwenview
Name[fi]=Gwenview-kuvannäytin
Name[ga]=Amharcán Íomhánna Gwenview
Name[gl]=Visor de imaxes Gwenview
Name[is]=Gwenview myndskoðari
Name[ja]=Gwenview 画像ビューア
Name[kk]=Gwenview кескінді қарау құралы
Name[ko]=Gwenview 그림 뷰어
Name[lv]=Gwenview attēlu skatītājs
Name[nds]=Bildkieker Gwenview
Name[ne]=जीवेनभ्यू छवि दर्शक
Name[nl]=GWenview Afbeeldingenviewer
Name[pl]=Przeglądarka obrazków Gwenview
Name[pt]=Visualizador de Imagens Gwenview
Name[pt_BR]=Visualizador de Imagens Gwenview
Name[sv]=Gwenview bildvisare
Name[uk]=Переглядач зображень Gwenview
Name[x-test]=xxGwenview Image Viewerxx
Name[zh_CN]=Gwenview 图像查看器
Name[zh_TW]=Gwenview 影像檢視程式
MimeType=image/gif;image/jpeg;image/jpeg2000;image/png;image/bmp;image/x-eps;image/x-ico;image/x-krl;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=gvpart
InitialPreference=12
Icon=gwenview
