<!DOCTYPE kpartgui>
<kpartgui name="GVPart" version="1">
<MenuBar>
	<Menu name="view"><Text>&amp;View</Text>
		<Action name="view_actual_size"/>
		<Action name="view_zoom_in"/>
		<Action name="view_zoom_out"/>
	</Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
	<Action name="view_actual_size"/>
	<Action name="view_zoom_in"/>
	<Action name="view_zoom_out"/>
</ToolBar>
</kpartgui>

