[Desktop Entry]
Encoding=UTF-8
Name=Gwenview
Comment=A simple image viewer
Comment[de]=Einfacher Bildbetrachter
Comment[el]=Ένας απλός προβολέας εικόνων
Comment[es]=Visor de mensajes sencillo
Comment[fr]=Un afficheur d'images simple
Comment[he]=מציג תמונות פשוט
Comment[it]=Semplice visualizzatore di immagini
Comment[sv]=En enkel bildvisare
Exec=gwenview %f -caption "%c" %i %m
Terminal=false
Icon=gwenview.png
Type=Application
Commend[ko]=간단한 이미지 보기 프로그램
