[Desktop Entry]
Encoding=UTF-8
Name=Gwenview
Name[hi]=ग्वेनव्यू
Name[ta]=gwen பார்வை
Name[tg]=НамоишиGwen
Name[xx]=xxGwenviewxx
GenericName=Image Viewer
GenericName[bg]=Преглед на изображения
GenericName[br]=Gweler ar skeudennoù
GenericName[bs]=Preglednik slika
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[cy]=Gwelydd Delwedd
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[es]=Visualizador de imágenes
GenericName[et]=Pildinäitaja
GenericName[fa]=مشاهده‌گر تصویر
GenericName[fi]=Kuvankatseluohjelma
GenericName[fr]=Afficheur d'images
GenericName[ga]=Amharcán Íomhánna
GenericName[gl]=Visor de Imaxes
GenericName[hi]=छवि प्रदर्शक
GenericName[hr]=Preglednik slika
GenericName[hu]=Képnézegető
GenericName[is]=Myndskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューア
GenericName[ka]=სურათების დამთვალიერებელი
GenericName[lt]=Paveikslėlių žiūriklis
GenericName[ms]=Pelihat Imej
GenericName[nl]=Afbeeldingweergaveprogramma
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ru]=Просмотр изображений
GenericName[rw]=Mugaraza Shusho
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Приказивач слика
GenericName[sr@Latn]=Prikazivač slika
GenericName[sv]=Bildvisning
GenericName[tg]=Намоишгари тасвир
GenericName[tr]=Resim Gösterici
GenericName[uk]=Переглядач зображень
GenericName[vi]=Bộ xem ảnh
GenericName[xh]=Umboniseli Womfanekiso
GenericName[xx]=xxImage Viewerxx
GenericName[zh_CN]=图像查看器
GenericName[zu]=Umbonisi Womfanekiso
Comment=A simple image viewer
Comment[ar]=مستعرض الصور البسيط
Comment[bg]=Малка програма за преглед на изображения
Comment[br]=Ur gweler skeudenn eeun
Comment[bs]=Jednostavan preglednik slika
Comment[ca]=Un visor d'imatges senzill
Comment[cs]=Jednoduchý prohlížeč obrázků
Comment[da]=En simpel billedfremviser
Comment[de]=Ein einfacher Bildbetrachter
Comment[el]=Ένας απλός προβολέας εικόνων
Comment[es]=Visor de mensajes sencillo
Comment[et]=Lihtne pildinäitaja
Comment[fa]=یک مشاهده‌گر تصویر ساده
Comment[fi]=Yksinkertainen kuvankatseluohjelma
Comment[fr]=Un afficheur basique d'images
Comment[ga]=Amharcán simplí íomhánna
Comment[gl]=Un visor de imaxes
Comment[he]=מציג תמונות פשוט
Comment[hi]=एक सरल चित्र प्रदर्शक
Comment[hr]=Jednostavan preglednik slika
Comment[hu]=Egyszerű képnézegető
Comment[is]=Einfaldur myndskoðari
Comment[it]=Semplice visualizzatore di immagini
Comment[ja]=シンプルな画像ビューア
Comment[ka]=სურათების მარტივი დამთვალიერებელი
Comment[ms]=Pelihat imej ringkas
Comment[nl]=Een eenvoudig afbeeldingenweergaveprogramma
Comment[pa]=ਇੱਕ ਸਧਾਰਨ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Prosta przeglądarka obrazków
Comment[pt]=Um visualizador de imagens simples
Comment[pt_BR]=Um visualizador de imagens simples
Comment[ru]=Простая программа просмотра изображений
Comment[sk]=Jednoduchý prehliadač obrázkov
Comment[sl]=Preprost pregledovalnik slik
Comment[sr]=Једноставан приказивач слика
Comment[sr@Latn]=Jednostavan prikazivač slika
Comment[sv]=En enkel bildvisare
Comment[ta]=ஒரு சாதாரண உருவ பார்வையாளர்
Comment[tg]=Барномаи оддӣ барои намоиши тасвир
Comment[tr]=Basit bir resim izleyici
Comment[uk]=Простий переглядач зображень
Comment[vi]=Bộ xem ảnh đơn giản
Comment[xh]=Umboniseli olula womfanekiso
Comment[xx]=xxA simple image viewerxx
Comment[zh_CN]=一个简单的图像查看器
Comment[zh_TW]=一個簡易的影像檢視器
Comment[zu]=Umbukisi wesithombe esilula
Exec=gwenview %u -caption "%c" %i %m
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Application;Graphics;
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-pcx;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/x-targa;
DocPath=gwenview/index.html
