[Desktop Entry]
Encoding=UTF-8
Name=Gwenview - hack
GenericName=Image Viewer - hack
Comment=A simple image viewer - hack 
Exec=gwenview_hack %u -caption "%c" %i %m
Terminal=false
Icon=gwenview_hack
Type=Application
Commend[ko]=간단한 이미지 보기 프로그램
Categories=Qt;KDE;Application;Graphics
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-pcx;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/x-targa
