[Desktop Entry]
Encoding=UTF-8
Name=Gwenview
Name[hi]=ग्वेनव्यू
Name[ta]=gwen பார்வை
Name[xx]=xxGwenviewxx
GenericName=Image Viewer
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[el]=Προβολέας εικόνων
GenericName[es]=Visor de imágenes
GenericName[et]=Piltide vaataja
GenericName[fa]=نمایش‌دهنده‌ی تصویر
GenericName[fr]=Afficheur d'images
GenericName[hu]=Képnézegető
GenericName[it]=Visualizzatore di immagini
GenericName[lo]=ເຄື່ອງມືສະແດງພາບ
GenericName[mt]=Werrej tal-istampi
GenericName[nds]=Bildkieker
GenericName[nl]=Afbeeldingweergaveprogramma
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ru]=Программа просмотра изображений
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледник слика
GenericName[ss]=Sibuki semfanekiso
GenericName[sv]=Bildvisare
GenericName[ta]=அழைப்பவர் அடையளம் சிறு நிரல்
GenericName[th]=เครื่องมือแสดงภาพ
GenericName[vi]=Trình xem ảnh
GenericName[wa]=Håyneu d' imådjes
GenericName[xh]=Umboniseli Womfanekiso
GenericName[zh_CN]=图片查看程序
GenericName[zu]=Umbonisi Womfanekiso
Comment=A simple image viewer
Comment[ca]=Un simple visor de la imatge
Comment[cs]=Jednoduchý prohlížeč obrázků
Comment[da]=En simpel billedfremviser
Comment[de]=Einfacher Bildbetrachter
Comment[el]=Ένας απλός προβολέας εικόνων
Comment[es]=Visor de mensajes sencillo
Comment[et]=Lihtne pildivaataja
Comment[fr]=Un afficheur basique d'images
Comment[he]=מציג תמונות פשוט
Comment[hi]=एक सरल चित्र प्रदर्शक
Comment[hu]=Egyszerű képnézegető
Comment[it]=Semplice visualizzatore di immagini
Comment[nl]=Een eenvoudig afbeeldingenweergaveprogramma
Comment[pt]=Um visualizador de imagens simples
Comment[pt_BR]=Um visualizador de imagens simples
Comment[ru]=Просмотрщик изображений
Comment[sk]=Jednoduchý prehliadač obrázkov
Comment[sl]=Preprost pregledovalnik slik
Comment[sr]=Једноставан приказивач слика
Comment[sv]=En enkel bildvisare
Comment[ta]=ஒரு சாதாரண உருவ பார்வையாளர்
Comment[tr]=Basit bir resim izleyici
Comment[uk]=Простий переглядач зображень
Comment[xh]=Umboniseli olula womfanekiso
Comment[xx]=xxA simple image viewerxx
Comment[zh_CN]=一个简单的图像查看器
Comment[zh_TW]=一個簡易的影像檢視器
Comment[zu]=Umbukisi wesithombe esilula
Exec=gwenview %f -caption "%c" %i %m
Terminal=false
Icon=gwenview
Type=Application
Commend[ko]=간단한 이미지 보기 프로그램
Categories=Qt;KDE;Graphics
