[Desktop Entry]
Encoding=UTF-8
Name=Gwenview - hack
Name[da]=Gwenview - hak
Name[et]=Gwenview - häkk
Name[fr]=Gwenview - bricolage
Name[sv]=Gwenview
Name[ta]=Gwenview -குறும்பர்
Name[xx]=xxGwenview - hackxx
GenericName=Image Viewer - hack
GenericName[da]=Billedfremviser - hak
GenericName[de]=Bildbetrachter - hack
GenericName[el]=Προβολέας εικόνων - hack
GenericName[et]=Piltide vaataja - häkk
GenericName[fr]=Afficheur d'images - bricolage
GenericName[nl]=Afbeeldingweergaveprogramma -hack
GenericName[pt]=Visualizador de Imagens - hack
GenericName[pt_BR]=Visualizador de Imagens
GenericName[sv]=Bildvisare
GenericName[ta]=பிம்பம் தோற்றம் - குறும்பர்
GenericName[xx]=xxImage Viewer - hackxx
Comment=A simple image viewer - hack 
Exec=gwenview_hack %f -caption "%c" %i %m
Terminal=false
Icon=gwenview_hack
Type=Application
Commend[ko]=간단한 이미지 보기 프로그램
Categories=Qt;KDE;Application;Graphics
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-pcx;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/x-targa
