[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview

[Desktop Action gwenview]
Name=Browse with Gwenview - hack
Name[da]=Gennemse med Gwenview - hak
Name[de]=Dateien mit Gwenview durchsehen - hack
Name[el]=Περιήγηση με το Gwenview - hack
Name[et]=Lehitse kasutades Gwenview - häkki
Name[fr]=Naviguer avec Gwenview - bricolage
Name[nl]=Bladeren met Gwenview - hack
Name[pt]=Navegar com o Gwenview - hack
Name[pt_BR]=Navegar com Gwenvie
Name[sv]=Bläddra med Gwenview
Name[ta]=Gwenview - குறும்பருடன் உலாவுக
Name[xx]=xxBrowse with Gwenview - hackxx
Icon=gwenview_hack
Exec=gwenview_hack %u
