[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview

[Desktop Action gwenview]
Name=Browse with Gwenview - hack
Name[da]=Gennemse med Gwenview - hak
Name[pt]=Navegar com o Gwenview - hack
Name[pt_BR]=Navegar com o Gwenview - hack
Name[sv]=Bläddra med Gwenview
Icon=gwenview_hack
Exec=gwenview_hack %u
