[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview;

[Desktop Action gwenview]
Name=Browse with Gwenview
Name[bg]=Преглед с Gwenview
Name[br]=Furchal gant Gwenview
Name[bs]=Pregledaj sa Gwenview
Name[ca]=Navega amb Gwenview
Name[cs]=Procházet pomocí Gwenview
Name[da]=Gennemse med Gwenview
Name[de]=Dateien mit Gwenview durchsehen
Name[el]=Εξερεύνηση με το Gwenview
Name[es]=Navegación con Gwenview
Name[et]=Lehitse kasutades Gwenview'd
Name[fr]=Naviguer avec Gwenview
Name[he]=עיין בעזרת Gwenview
Name[hi]=ग्वेनव्यू के साथ ब्राउज़ करें
Name[hu]=Böngészés a Gwenview-val
Name[is]=Skoða með Gwenview
Name[it]=Sfoglia con Gwenview
Name[ja]=Gwenview で閲覧
Name[ms]= Lungsur dengan Gwenview
Name[nl]=Bladeren met Gwenview
Name[pl]=Przeglądaj za pomocą Gwenview
Name[pt]=Navegar com o Gwenview
Name[pt_BR]=Navegar com Gwenview
Name[ru]=Просмотреть в Gwenview
Name[sk]=Prehliadať s Gwenview
Name[sl]=Brskaj z Gwenview
Name[sr]=Прегледај помоћу Gwenview-а
Name[sr@Latn]=Pregledaj pomoću Gwenview-a
Name[sv]=Bläddra med Gwenview
Name[ta]=GWEN பார்வையை வைத்து தேடு
Name[tg]=Ҷустан бо НамоишиGwen
Name[tr]=Gwenview ile gözat
Name[uk]=Перегляд у Gwenview
Name[xh]=Khangela nge Gwenview
Name[xx]=xxBrowse with Gwenviewxx
Name[zh_CN]=用 Gwenview 浏览
Name[zh_TW]=以 Gwenview 瀏覽
Name[zu]=Cinga nge-Gwenview
Icon=gwenview
Exec=gwenview %u
