[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview

[Desktop Action gwenview]
Name=Browse with Gwenview
Name[de]=Dateien mit Gwenview durchsehen
Name[el]=Εξερεύνηση με το Gwenview
Name[es]=Navegación con Gwenview
Name[fr]=Naviguer avec Gwenview
Name[it]=Sfoglia con Gwenview
Name[sv]=Bläddra med Gwenview
Icon=gwenview
Exec=gwenview %f
