[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview

[Desktop Action gwenview]
Name=Browse with Gwenview - hack
Icon=gwenview_hack
Exec=gwenview_hack %u
