[Desktop Entry]
Encoding=UTF-8
ServiceTypes=inode/directory
Actions=gwenview;

[Desktop Action gwenview]
Name=Browse with Gwenview
Name[el]=Εξερεύνηση με το Gwenview
Icon=gwenview
Exec=gwenview %u
