[Desktop Entry]
Type=Service
Name=Gwenview Image Viewer
Name[bg]=Gwenview - преглед на изображения
Name[br]=Gweler skeudennoù Gwenview
Name[ca]=Visor d'imatges Gwenview
Name[cs]=Prohlížeč obrázků Gwenview
Name[da]=Gwenview billedfremviser
Name[de]=Gwenview Bildbetrachter
Name[el]=Προβολέας εικόνων Gwenview
Name[es]=Visor de imágenes Gwenview
Name[et]=Gwenview pildinäitaja
Name[fa]=مشاهده‌گر تصویر Gwenview
Name[fi]=Gwenview-kuvankatseluohjelma
Name[fr]=Aperçu d'images Gwenview
Name[ga]=Amharcán Íomhánna Gwenview
Name[gl]=Visor de Imaxes Gwenview
Name[hi]=ग्वेन-व्यू छवि प्रदर्शक
Name[hr]=Gwenview preglednik slika
Name[hu]=Gwenview képnézegető
Name[is]=Gwenview myndaskoðari
Name[it]=Visualizzatore di immagini Gwenview
Name[ja]=Gwenview 画像ビューア
Name[ka]=Gwenview სურათების დამთვალიერებელი
Name[ms]=Pelihat imej Gwenview
Name[nl]=Gwenview Afbeeldingenweergave
Name[pa]=Gwenview ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazków Gwenview
Name[pt]=Visualizador de Imagens Gwenview
Name[pt_BR]=Visualizador de Imagens Gwenview
Name[ru]=Gwenview
Name[sk]=Prehliadač obrázkov Gwenview
Name[sl]=Pregledovalnik slik Gwenview
Name[sr]=Прегледач слика Gwenview
Name[sr@Latn]=Pregledač slika Gwenview
Name[sv]=Gwenview bildvisare
Name[ta]=Gwenview  பிம்பம் பார்வையாளர்
Name[tg]=Намоишгари тасвири Gwenview
Name[tr]=Gwenview Resim Gösterici
Name[uk]=Переглядач зображень - Gwenview
Name[vi]=Bộ xem ảnh Gwenview
Name[xx]=xxGwenview Image Viewerxx
Name[zh_CN]=Gwenview 图像查看器
MimeType=image/gif;image/jpeg;image/png;image/x-bmp;image/x-eps;image/x-ico;image/x-krl;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbm;image/x-xpm
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libgvimagepart
InitialPreference=5
Icon=gwenview
