<!DOCTYPE kpartgui>
<kpartgui name="GVImagePart">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="saveAs"/>
 </Menu>
 <Menu name="edit">
  <Action name="rotate_right"/>
 </Menu>
 <Menu name="view"><Text>&amp;View</Text>
  <Action name="view_zoom_auto"/>
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Action name="view_zoom_auto"/>
 <Action name="rotate_right"/>
</ToolBar>
</kpartgui>
