<!DOCTYPE kpartgui>
<kpartgui name="GVDirPart" version="3">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="saveAs"/>
 </Menu>
 <Menu name="edit">
  <Action name="rotate_right"/>
 </Menu>
 <Menu name="view"><Text>&amp;View</Text>
  <Action name="previous"/>
  <Action name="next"/>
  <Separator/>
    <Menu name="colors">
        <text>&amp;Colors</text>
        <Action name="increase_gamma"/>
        <Action name="decrease_gamma"/>
        <Action name="increase_brightness"/>
        <Action name="decrease_brightness"/>
        <Action name="increase_contrast"/>
        <Action name="decrease_contrast"/>
    </Menu>
  <Action name="view_zoom_auto"/>
  <Action name="view_zoom_in"/>
  <Action name="view_zoom_out"/>
  <Action name="view_actual_size"/>
  <Action name="view_zoom_lock"/>
  <Separator/>
  <Action name="slideshow"/>
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Separator/>
 <Action name="previous"/>
 <Action name="next"/>
 <Action name="view_zoom_auto"/>
 <Action name="rotate_right"/>
 <Action name="slideshow"/>
</ToolBar>
</kpartgui>
