<!DOCTYPE kpartgui>
<kpartgui name="GVDirPart">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="saveAs"/>
 </Menu>
 <Menu name="edit">
  <Action name="rotate_right"/>
 </Menu>
 <Menu name="view"><Text>&amp;View</Text>
  <Action name="previous"/>
  <Action name="next"/>
  <Action name="view_zoom_auto"/>
  <Action name="slideshow"/>
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Separator/>
 <Action name="previous"/>
 <Action name="next"/>
 <Action name="view_zoom_auto"/>
 <Action name="rotate_right"/>
 <Action name="slideshow"/>
</ToolBar>
</kpartgui>
