[Desktop Entry]
Type=Service
Name=Image View
Name[el]=Προβολή εικόνων
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libgvdirpart
InitialPreference=5
Icon=gvdirpart
