[Desktop Entry]
Type=Service
Name=Image View
Name[bg]=Преглед на изображения
Name[br]=Gwell ar skeudennoù
Name[ca]=Vista d'imatge
Name[cs]=Prohlížeč obrázků
Name[da]=Billedvisning
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[es]=Visor de imágenes
Name[et]=Pildinäitaja
Name[fr]=Aperçu d'images
Name[ga]=Amharc Íomhánna
Name[gl]=Visor de Imaxes
Name[hr]=Pregled slike
Name[hu]=Képnézegető
Name[is]=Myndskoðun
Name[it]=Vista immagini
Name[ja]=画像表示
Name[ka]=სურათების ნახვა
Name[nl]=Afbeeldingweergave
Name[pa]=ਚਿੱਤਰ ਝਲਕ
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[ru]=Просмотр изображений
Name[sr]=Приказ слика
Name[sr@Latn]=Prikaz slika
Name[sv]=Bildvisare
Name[ta]=பிம்பக் காட்சி
Name[tg]=Намоишгари тасвир
Name[tr]=Resim Görünümü
Name[uk]=Перегляд зображень
Name[xx]=xxImage Viewxx
Name[zh_CN]=图像查看
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libgvdirpart
InitialPreference=5
Icon=gvdirpart
