[Desktop Entry]
Name=Gwenview
Name[hi]=ग्वेन-व्यू
Name[ne]=जीवेनभ्यू
Name[pa]=ਜੀਵੀਨ-ਵਿਊ
Name[x-test]=xxGwenviewxx
GenericName=Image Viewer
GenericName[af]=Beeld Aansig
GenericName[be]=Праглядчык відарысаў
GenericName[br]=Gweler ar skeudennoù
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[cy]=Gwelydd Delweddau
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[eo]=Bildorigardilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi ikustailua
GenericName[fi]=Kuvannäytin
GenericName[fr]=Visionneuse d'images
GenericName[ga]=Amharcán Íomhánna
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג תמונות
GenericName[hi]=छवि प्रदर्शक
GenericName[hr]=Preglednik slika
GenericName[hu]=Képnézegető
GenericName[is]=Myndskoðari
GenericName[it]=Visore di immagini
GenericName[ja]=画像ビューア
GenericName[kk]=Кескінді қарау аспабы
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[ko]=그림 뷰어
GenericName[lt]=Paveikslėlių žiūriklis
GenericName[lv]=Attēlu skatītājs
GenericName[ms]=Paparan Imej
GenericName[nb]=Bildeviser
GenericName[nds]=Bildkieker
GenericName[nl]=Afbeeldingenviewer
GenericName[nn]=Biletvisar
GenericName[oc]=Visualizaira d'imatges
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizor de imagini
GenericName[ru]=Просмотр изображений
GenericName[sl]=Pregledovalnik slik
GenericName[sv]=Bildvisare
GenericName[ta]=பிம்ப காட்சி
GenericName[tg]=Намоиши тасвирот
GenericName[th]=เครื่องมือแสดงภาพ
GenericName[tr]=Resim Göstericisi
GenericName[uk]=Переглядач зображень
GenericName[uz]=Rasm koʻruvchi
GenericName[uz@cyrillic]=Расм кўрувчи
GenericName[vi]=Bộ xem ảnh
GenericName[wa]=Håyneu d' imådjes
GenericName[x-test]=xxImage Viewerxx
GenericName[xh]=Umboniseli Womfanekiso
GenericName[zh_CN]=图像查看器
GenericName[zh_HK]=圖像檢視器
GenericName[zh_TW]=影像檢視程式
Comment=A simple image viewer
Comment[ca]=Un visualitzador d'imatges senzill
Comment[cs]=Jednoduchý prohlížeč obrázků
Comment[da]=Simpel billedfremviser
Comment[de]=Ein einfacher Bildbetrachter
Comment[el]=Ένας απλός προβολέας εικόνων
Comment[eo]=Simpla bildorigardilo
Comment[es]=Un visor de imágenes sencillo
Comment[et]=Lihtne pildinäitaja
Comment[fi]=Yksinkertainen kuvannäytin
Comment[fr]=Visionneuse simple d'images
Comment[ga]=Amharcán simplí íomhánna
Comment[gl]=Un visor de imaxes
Comment[hi]=एक सरल चित्र प्रदर्शक
Comment[hu]=Egyszerű képnézegető
Comment[is]=Einfaldur myndskoðari
Comment[it]=Un semplice visore di immagini
Comment[ja]=シンプルな画像ビューア
Comment[kk]=Қарапайым кескінді қарау аспабы
Comment[km]=កម្មវិធី​មើល​រូបភាព​ធម្មតា
Comment[ko]=간단한 그림 뷰어
Comment[lv]=Vienkāršs attēlu skatītājs
Comment[nb]=En enkel bildeviser
Comment[nds]=En eenfach Bildkieker
Comment[nl]=Een eenvoudige afbeeldingenviewer
Comment[nn]=Ein enkel biletvisar
Comment[pa]=ਇੱਕ ਸਧਾਰਨ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Prosta przeglądarka obrazków
Comment[pt]=Um visualizador de imagens simples
Comment[pt_BR]=Um visualizador de imagens simples
Comment[ru]=Просмотр изображений
Comment[sl]=Preprost pregledovalnik slik
Comment[sv]=En enkel bildvisare
Comment[th]=เครื่องมือแสดงภาพแบบพื้นฐาน
Comment[tr]=Basit bir resim gösterici
Comment[uk]=Простий переглядач зображень
Comment[vi]=Bộ xem ảnh đơn giản
Comment[x-test]=xxA simple image viewerxx
Comment[zh_CN]=简单图像查看器
Comment[zh_TW]=一個簡單的影像檢視程式
Exec=gwenview %u -caption "%c" %i
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-krl;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
X-DocPath=gwenview/index.html
InitialPreference=12
