<?xml version="1.0"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="gwenview" version="28">

<MenuBar>
	<Menu name="file" >
		<Action name="file_save"/>
		<Action name="file_save_as"/>
		<Separator/>
		<Action name="quit"/>
	</Menu>
	<Menu name="view" >
		<Action name="browse" />
		<Action name="preview" />
		<Action name="view" />
		<Action name="fullscreen" />
		<Separator/>
		<Merge/>
		<Separator/>
		<Action name="toggle_sidebar" />
	</Menu>
	<Menu name="edit" >
		<Action name="rotate_left" />
		<Action name="rotate_right" />
		<Action name="mirror" />
		<Action name="flip" />
	</Menu>
	<Menu name="go_web" >
		<Action name="go_to_previous"/>
		<Action name="go_to_next"/>
		<Separator/>
		<Action name="go_up"/>
	</Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
	<text>Main Toolbar</text>
	<Action name="browse" />
	<Action name="preview" />
	<Action name="view" />
	<Action name="fullscreen" />
	<Separator/>
	<Action name="go_to_previous" />
	<Action name="go_to_next" />
	<Separator/>
	<Action name="rotate_left" />
	<Action name="rotate_right" />
	<Separator/>
	<Merge/>
	<Separator/>
	<Action name="toggle_sidebar" />
</ToolBar>

</kpartgui>
