[Desktop Entry]
Name=Gwenview
Name[ar]=جوِينفيو
Name[ast]=Gwenview
Name[be]=Gwenview
Name[bg]=Gwenview
Name[bs]=Gwenview
Name[ca]=Gwenview
Name[ca@valencia]=Gwenview
Name[cs]=Gwenview
Name[da]=Gwenview
Name[de]=Gwenview
Name[el]=Gwenview
Name[en_GB]=Gwenview
Name[eo]=Gwenview
Name[es]=Gwenview
Name[et]=Gwenview
Name[eu]=Gwenview
Name[fi]=Gwenview
Name[fr]=Gwenview
Name[ga]=Gwenview
Name[gl]=Gwenview
Name[hi]=ग्वेन-व्यू
Name[hne]=ग्वेन-व्यू
Name[hr]=Gwenview
Name[hu]=Gwenview
Name[ia]=Gwenview
Name[is]=Gwenview
Name[it]=Gwenview
Name[ja]=Gwenview
Name[kk]=Gwenview
Name[km]=Gwenview
Name[ko]=Gwenview
Name[ku]=Gwenview
Name[lt]=Gwenview
Name[lv]=Gwenview
Name[mr]=ग्वेनव्यु
Name[nb]=Gwenview
Name[nds]=Gwenview
Name[ne]=जीवेनभ्यू
Name[nl]=Gwenview
Name[nn]=Gwenview
Name[oc]=Gwenview
Name[pa]=ਜੀਵੀਨ-ਵਿਊ
Name[pl]=Gwenview
Name[pt]=Gwenview
Name[pt_BR]=Gwenview
Name[ro]=Gwenview
Name[ru]=Gwenview
Name[si]=Gwenview
Name[sk]=Gwenview
Name[sl]=Gwenview
Name[sr]=Гвенвју
Name[sr@ijekavian]=Гвенвју
Name[sr@ijekavianlatin]=GwenView
Name[sr@latin]=GwenView
Name[sv]=Gwenview
Name[th]=เกวนวิว
Name[tr]=Gwenview
Name[ug]=Gwenview
Name[uk]=Gwenview
Name[vi]=Gwenview
Name[x-test]=xxGwenviewxx
Name[zh_CN]=Gwenview
Name[zh_TW]=影像檢視_Gwenview
GenericName=KDE Image Viewer
GenericName[bg]=Преглед на изображения в KDE
GenericName[bs]=KDE Prikazivač slika
GenericName[ca]=Visor d'imatges del KDE
GenericName[ca@valencia]=Visor d'imatges del KDE
GenericName[cs]=Prohlížeč obrázků KDE
GenericName[da]=KDE billedfremviser
GenericName[de]=KDE-Bildbetrachter
GenericName[el]=Προβολέας εικόνων του KDE
GenericName[es]=Visor de imágenes de KDE
GenericName[et]=KDE pildinäitaja
GenericName[fi]=KDE:n kuvankatselin
GenericName[fr]=Visionneuse d'images de KDE
GenericName[ga]=Amharcán Íomhánna KDE
GenericName[gl]=Visor de imaxes de KDE
GenericName[hu]=KDE képnézegető
GenericName[ia]=Visor de imagine de KDE
GenericName[is]=Myndskoðari fyrir KDE
GenericName[it]=Visore di immagini per KDE
GenericName[kk]=KDE кескін қарау құралы
GenericName[ko]=KDE 그림 뷰어
GenericName[mr]=KDE प्रतिमा प्रदर्शक
GenericName[nb]=KDE bildeviser
GenericName[nl]=KDE afbeeldingenviewer
GenericName[pa]=ਕੇਡੀਈ ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów KDE
GenericName[pt]=Visualizador de Imagens do KDE
GenericName[pt_BR]=Visualizador de imagens do KDE
GenericName[ro]=Vizualizor de imagini pentru KDE
GenericName[ru]=Программа просмотра изображений
GenericName[sk]=Prehliadač obrázkov KDE
GenericName[sl]=Pregledovalnik slik za KDE
GenericName[sr]=КДЕ приказивач слика
GenericName[sr@ijekavian]=КДЕ приказивач слика
GenericName[sr@ijekavianlatin]=KDE prikazivač slika
GenericName[sr@latin]=KDE prikazivač slika
GenericName[sv]=Bildvisare för KDE
GenericName[uk]=Переглядач зображень KDE
GenericName[x-test]=xxKDE Image Viewerxx
GenericName[zh_CN]=KDE 图像查看器
GenericName[zh_TW]=KDE 影像檢視程式
Comment=A simple image viewer
Comment[ar]=عارض صور بسيط
Comment[ast]=Un visor d'imáxenes cenciellu
Comment[bg]=Програма за преглед на изображения
Comment[bs]=Jednostavan prikazivač slika
Comment[ca]=Un visualitzador d'imatges senzill
Comment[ca@valencia]=Un visualitzador d'imatges senzill
Comment[cs]=Jednoduchý prohlížeč obrázků
Comment[da]=Simpel billedfremviser
Comment[de]=Ein einfacher Bildbetrachter
Comment[el]=Ένας απλός προβολέας εικόνων
Comment[en_GB]=A simple image viewer
Comment[eo]=Simpla bildorigardilo
Comment[es]=Un visor de imágenes sencillo
Comment[et]=Lihtne pildinäitaja
Comment[eu]=Irudi ikustaile bakuna
Comment[fi]=Yksinkertainen kuvankatselin
Comment[fr]=Visionneuse simple d'images
Comment[ga]=Amharcán simplí íomhánna
Comment[gl]=Un visor de imaxes sinxelo
Comment[hi]=एक सरल चित्र प्रदर्शक
Comment[hne]=एक सरल फोटू प्रदर्सक
Comment[hr]=Jednostavni preglednik slika
Comment[hu]=Egyszerű képnézegető
Comment[ia]=Un simplice visor de imagine
Comment[is]=Einfaldur myndskoðari
Comment[it]=Un semplice visore di immagini
Comment[ja]=シンプルな画像ビューア
Comment[kk]=Қарапайым кескінді қарау құралы
Comment[km]=កម្មវិធី​មើល​រូបភាព​ធម្មតា
Comment[ko]=간단한 그림 뷰어
Comment[ku]=Nîşanderê wêneyan yê hêsanî
Comment[lt]=Paprasta paveikslėlių žiūryklė
Comment[lv]=Vienkāršs attēlu skatītājs
Comment[mr]=एक सोपा प्रतिमा प्रदर्शक
Comment[nb]=En enkel bildeviser
Comment[nds]=En eenfach Bildkieker
Comment[nl]=Een eenvoudige afbeeldingenviewer
Comment[nn]=Ein enkel biletvisar
Comment[pa]=ਇੱਕ ਸਧਾਰਨ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Prosta przeglądarka obrazków
Comment[pt]=Um visualizador de imagens simples
Comment[pt_BR]=Um visualizador de imagens simples
Comment[ro]=Un vizualizator de imagini simplu
Comment[ru]=Просмотр изображений
Comment[si]=සරල පිංතූර දසුන
Comment[sk]=Jednoduchý prehliadač obrázkov
Comment[sl]=Preprost pregledovalnik slik
Comment[sr]=Једноставан приказивач слика
Comment[sr@ijekavian]=Једноставан приказивач слика
Comment[sr@ijekavianlatin]=Jednostavan prikazivač slika
Comment[sr@latin]=Jednostavan prikazivač slika
Comment[sv]=En enkel bildvisare
Comment[th]=เครื่องมือแสดงภาพแบบพื้นฐาน
Comment[tr]=Basit bir resim gösterici
Comment[ug]=ئاددىي سۈرەت كۆرگۈ
Comment[uk]=Простий переглядач зображень
Comment[vi]=Bộ xem ảnh đơn giản
Comment[x-test]=xxA simple image viewerxx
Comment[zh_CN]=简单图像查看器
Comment[zh_TW]=一個簡單的影像檢視程式
Exec=gwenview %U -caption "%c" %i
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;
X-DocPath=gwenview/index.html
# InitialPreference should be greater than Okular so that Gwenview is the
# primary application associated with images, but less than Konqueror or Dolphin
# so that Gwenview is not the primary applications for folders.
InitialPreference=8
