<?xml version="1.0"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="gwenview" version="28">

<ToolBar name="mainToolBar" >
	<text>Main Toolbar</text>
	<Action name="thumbs_only" />
	<Action name="thumbs_and_image" />
	<Action name="image_only" />
	<Separator/>
	<Merge/>
</ToolBar>

<MenuBar>
	<Menu name="view" >
		<text>&amp;View</text>
		<Action name="thumbs_only" />
		<Action name="thumbs_and_image" />
		<Action name="image_only" />
		<Separator>
		<Merge/>
	</Menu>
</MenuBar>

</kpartgui>
