[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=slideshow;

[Desktop Action slideshow]
Name=Start a Slideshow
Name[ar]=ابدأ عرض شرائح
Name[az]=Slayd şou başlatmaq
Name[bg]=Пускане на прожекция
Name[bs]=Pokreni slajdšou
Name[ca]=Inicia una presentació amb diapositives
Name[ca@valencia]=Inicia una presentació amb diapositives
Name[cs]=Spustit promítání
Name[da]=Start et diasshow
Name[de]=Diaschau starten
Name[el]=Έναρξη προβολής σλάιντ
Name[en_GB]=Start a Slideshow
Name[es]=Comenzar una presentación
Name[et]=Käivita slaidiseanss
Name[eu]=Hasi diapositiba-emanaldi bat
Name[fa]=شروع یک نمایش اسلاید
Name[fi]=Käynnistä diaesitys
Name[fr]=Démarrer un diaporama
Name[ga]=Rith Taispeántas Sleamhnán
Name[gl]=Iniciar unha presentación
Name[he]=התחל מצגת
Name[hne]=स्लाइड सो चालू करव
Name[hr]=Pokreni prezentaciju
Name[hu]=Diavetítés
Name[ia]=Starta un presentation (slideshow)
Name[id]=Memulai sebuah Slideshow
Name[is]=Hefja skyggnusýningu
Name[it]=Avvia una presentazione
Name[ja]=スライドショーを開始
Name[kk]=Слайд көрсетілімін бастау
Name[km]=ចាប់ផ្ដើម​បញ្ចាំង​ស្លាយ
Name[ko]=슬라이드 쇼 시작
Name[ku]=NîşandanaSlayt Bide Destpêkirin
Name[lt]=Pradėti skaidrių rodymą
Name[lv]=Sākt slīdrādi
Name[ml]=സ്ലൈഡ്ഷോ തുടങ്ങുക
Name[mr]=स्लाइडशो सुरु करा
Name[nb]=Start lysbildeframvisning
Name[nds]=En Diaschau starten
Name[nl]=Een diavoorstelling starten
Name[nn]=Start ei lysbiletframvising
Name[pa]=ਇੱਕ ਸਲਾਈਡ-ਸ਼ੋ ਸ਼ੁਰੂ
Name[pl]=Uruchom pokaz slajdów
Name[pt]=Iniciar uma Apresentação
Name[pt_BR]=Iniciar uma apresentação de slides
Name[ro]=Pornește o prezentare
Name[ru]=Запустить слайд-шоу
Name[si]=සලයිඩ දර්ශනය ආරඹන්න
Name[sk]=Spustiť prezentáciu
Name[sl]=Začni predstavitev
Name[sr]=Покрени слајдшоу
Name[sr@ijekavian]=Покрени слајдшоу
Name[sr@ijekavianlatin]=Pokreni slajdšou
Name[sr@latin]=Pokreni slajdšou
Name[sv]=Starta ett bildspel
Name[th]=เริ่มการนำเสนอ
Name[tr]=Bir Slayt Gösterisi Başlat
Name[ug]=تام تەسۋىرى باشلايدۇ
Name[uk]=Почати показ слайдів
Name[x-test]=xxStart a Slideshowxx
Name[zh_CN]=以幻灯模式启动
Name[zh_TW]=開始投影秀
Icon=gwenview
Exec=gwenview -s %u
