[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=slideshow;

[Desktop Action slideshow]
Name=Start a Slideshow
Name[es]=Comenzar una presentación
Name[ga]=Rith Taispeántas Sleamhnán
Name[is]=Hefja skyggnusýningu
Name[km]=ចាប់ផ្ដើម​បញ្ចាំង​ស្លាយ
Name[pt]=Iniciar uma Apresentação
Name[pt_BR]=Iniciar uma apresentação
Name[uk]=Почати показ слайдів
Name[zh_TW]=開始投影秀
Icon=gwenview
Exec=gwenview -s %u
