[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=gwenview_importer %f
Icon=gwenview
Name=Download Photos with Gwenview
Name[nb]=Last ned fotografier med Gwenview
Name[nds]=Fotos mit Gwenview daalladen
Name[pt]=Obter as Fotografias com o Gwenview
Name[pt_BR]=Baixar as fotos com o Gwenview
Name[sv]=Ladda ner foton med Gwenview
Name[uk]=Звантажити фотографії за допомогою Gwenview
Name[x-test]=xxDownload Photos with Gwenviewxx
Name[zh_TW]=用 Gwenview 下載相片
