[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=gwenview_importer %f --udi %i
Icon=gwenview
Name=Download Photos with Gwenview
Name[ar]=نزل الصور بجوينفيو
Name[ast]=Descarga Semeyes con Gwenview
Name[bg]=Изтегляне на снимки с Gwenview
Name[bs]=Preuzimanje fotografija Gvenvjuom
Name[ca]=Descarrega fotos amb el Gwenview
Name[ca@valencia]=Descarrega fotos amb el Gwenview
Name[cs]=Stáhnout fotografie pomocí Gwenview
Name[da]=Download fotos med Gwenview
Name[de]=Fotos mit Gwenview herunterladen
Name[el]=Λήψη φωτογραφιών με το Gwenview
Name[en_GB]=Download Photos with Gwenview
Name[es]=Descargar fotos con Gwenview
Name[et]=Fotode allalaadimine Gwenview'ga
Name[eu]=Deskargatu argazkiak Gwenview-ekin
Name[fi]=Lataa valokuvat Gwenview’llä
Name[fr]=Télécharger des photos avec Gwenview
Name[ga]=Íosluchtaigh Grianghrafanna le Gwenview
Name[gl]=Descargar fotos co Gwenview
Name[hr]=Preuzmi fotografije Gwenviewom
Name[hu]=Fényképek letöltése a Gwenviewval
Name[is]=Hala niður myndum með Gwenview
Name[it]=Scarica foto con Gwenview
Name[ja]=Gwenview で写真をダウンロード
Name[kk]=Gwenview-де фотосуреттерді жүктеп алу
Name[km]=ទាញយក​រូបថត​​ដោយ​ប្រើ Gwenview
Name[ko]=Gwenview로 사진 가져오기
Name[lt]=Atsisiųsti nuotraukas su Gwenview
Name[lv]=Ielādēt fotogrāfijas ar Gwenview
Name[nb]=Last ned fotografier med Gwenview
Name[nds]=Fotos mit Gwenview daalladen
Name[nl]=Foto's met Gwenview downloaden
Name[nn]=Overfør bilete med Gwenview
Name[pa]=ਜੀਵੀਨ-ਵਿਊ ਨਾਲ ਫੋਟੋ ਡਾਊਨਲੋਡ ਕਰੋ
Name[pl]=Pobierz zdjęcia z Gwenview
Name[pt]=Obter as Fotografias com o Gwenview
Name[pt_BR]=Transferir as fotos com o Gwenview
Name[ro]=Descarcă fotografii cu Gwenview
Name[ru]=Скопировать фотографии с помощью Gwenview
Name[si]=Gwenview සමඟින් පිංතූර බාගන්න
Name[sk]=Stiahnuť fotografie pomocou Gwenview
Name[sl]=Prejmite fotografije z Gwenview
Name[sr]=Преузимање фотографија Гвенвјуом
Name[sr@ijekavian]=Преузимање фотографија Гвенвјуом
Name[sr@ijekavianlatin]=Preuzimanje fotografija GwenViewom
Name[sr@latin]=Preuzimanje fotografija GwenViewom
Name[sv]=Ladda ner foton med Gwenview
Name[th]=ดาวน์โหลดภาพถ่ายด้วยเกวนวิว
Name[tr]=Gwenview ile Fotoğrafları İndir
Name[ug]=سۈرەتلەرنى Gwenview بىلەن چۈشۈرۈش
Name[uk]=Звантажити фотографії за допомогою Gwenview
Name[x-test]=xxDownload Photos with Gwenviewxx
Name[zh_CN]=用 Gwenview 下载照片
Name[zh_TW]=用 Gwenview 下載相片
