[Desktop Entry]
ServiceTypes=image/*
Exec=gimp-remote -n %F 
Icon=gimp
Name=The GIMP
Name[da]=GIMP
Name[et]=GIMP
Name[pt]=O GIMP
Name[pt_BR]=O GIMP
Name[ru]=GIMP
Name[sv]=GIMP
