[Desktop Entry]
ServiceTypes=image/*
Exec=gimp-remote -n %F
Icon=gimp
Name=The GIMP
Name[br]=Ar GIMP
Name[bs]=GIMP
Name[ca]=El GIMP
Name[da]=GIMP
Name[de]=GIMP
Name[el]=Το GIMP
Name[et]=GIMP
Name[fi]=GIMP
Name[fr]=GIMP
Name[ga]=An GIMP
Name[gl]=O Gimp
Name[hi]=द गिम्प
Name[hr]=GIMP
Name[hu]=A GIMP
Name[it]=GIMP
Name[ka]=GIMP
Name[ms]=GIMP
Name[pa]=ਜੈਮਪ
Name[pl]=GIMP
Name[pt]=O GIMP
Name[pt_BR]=O GIMP
Name[ru]=GIMP
Name[sl]=GIMP
Name[sr]=GIMP
Name[sr@Latn]=GIMP
Name[sv]=GIMP
Name[tg]=ГИМП
Name[tr]=GIMP
Name[uk]=GIMP
Name[xx]=xxThe GIMPxx
