[Desktop Entry]
ServiceTypes=*
Exec=konqueror %u
Icon=konqueror
Name=Konqueror
Name[hi]=कॉन्क्वेरर
Name[pa]=ਕੋਨਕਿਊਰੋਰ
Name[ta]=கான்குவரர்
Name[tg]=Конкуерор
Name[xx]=xxKonquerorxx
