[Desktop Entry]
ServiceTypes=*
Exec=konqueror %u 
Icon=konqueror
Name=Konqueror
Name[fa]=کانکرر
Name[hi]=कॉन्क्वेरर
Name[ko]=컹커러
Name[ta]=கான்குவரர்
Name[th]=คอนเควอร์เรอร์
Name[xx]=xxKonquerorxx
