[Desktop Entry]
ServiceTypes=image/*
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 2 
Icon=background
Name=Set as tiled wallpaper
Name[cs]=Nastavit jako dlaždice na plochu
Name[da]=Sæt som fliselagt tapet
Name[de]=Als Hintergrundbild verwenden (gekachelt)
Name[el]=Ορισμός σαν ταπετσαρία σε παράθεση
Name[es]=Establecer como fondo de pantalla embaldosado
Name[et]=Sea paanidena taustapildiks
Name[fr]=Etablir en tant que papier peint
Name[hi]=टाइल्ड वॉलपेपर की तरह नियत करें
Name[hu]=Beállítás mozaikszerű háttérképnek
Name[it]=Imposta come immagine di sfondo ripetuta
Name[ja]=タイルされた壁紙として設定
Name[nl]=Als getegelde afbeelding instellen
Name[pt]=Colocar como fundo de ecrã em mosaico
Name[pt_BR]=Configurado como papel de parede ladrilhado
Name[ru]=Расположить черепицей на рабочем столе
Name[sl]=Nastavi kot tlakovano tapeto
Name[sr]=Постави као поплочан постер
Name[sr@Latn]=Постави као поплочан постер
Name[sv]=Ange som skrivbordsunderlägg sida vid sida
Name[ta]=டைல்டு வால்பேப்பராக அமை
Name[xx]=xxSet as tiled wallpaperxx
Name[zh_CN]=设为平铺墙纸
