[Desktop Entry]
ServiceTypes=image/*
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 2
Icon=background
Name=Set as Tiled Wallpaper
Name[bg]=Използване като тапет със застилане
Name[ca]=Estableix com a paper pintat (mosaic)
Name[cs]=Použít jako dlaždice na plochu
Name[da]=Sæt som fliselagt tapet
Name[de]=Als Hintergrundbild verwenden (gekachelt)
Name[el]=Ορισμός σαν Ταπετσαρία σε παράθεση
Name[es]=Establecer como fondo de pantalla embaldosado
Name[et]=Sea paanidena taustapildiks
Name[fi]=Aseta taustakuvaksi monistettuna
Name[fr]=Établir comme papier peint en mosaïque
Name[ga]=Socraigh mar Chúlbhrat Tílithe
Name[gl]=Colocar como Fondo de Escritório en Mosaico
Name[hi]=टाइल्ड वालपेपर के रूप में सेट करें
Name[hr]=Popločeno na radnu površinu
Name[hu]=Beállítás háttérképnek (mozaikszerűen)
Name[is]=Setja sem flísalagt veggfóður
Name[it]=Imposta come immagine di sfondo ripetuta
Name[ja]=タイルされた壁紙として設定
Name[ka]=მოზაიკურ ფონად დაყენება
Name[nl]=Als getegelde achtergrondafbeelding instellen
Name[pa]=ਤਣਿਆ ਵਾਲਪੇਪਰ ਬਣਾਓ
Name[pl]=Ustaw jako kafelkowaną tapetę
Name[pt]=Colocar como Fundo de Ecrã em Mosaico
Name[pt_BR]=Configurar como papel de parede ladrilhado
Name[ru]=Расположить черепицей на рабочем столе
Name[sk]=Nastaviť ako pozadie (dlaždice)
Name[sr]=Постави као поплочану позадину
Name[sr@Latn]=Postavi kao popločanu pozadinu
Name[sv]=Ange som skrivbordsunderlägg sida vid sida
Name[ta]=முழுவதும் வால்பேப்பராக அமை
Name[tg]=Сурати мизи кориро бо мавзӯъи сафолӣ танзим кунед
Name[tr]=Döşenmiş Duvar Kağıdı Yap
Name[uk]=Встановити як шпалери (плиткою)
Name[xx]=xxSet as Tiled Wallpaperxx
Name[zh_CN]=设为平铺墙纸
