[Desktop Entry]
ServiceTypes=image/*
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 6
Icon=background
Name=Set as Wallpaper
Name[bg]=Използване като тапет
Name[cs]=Nastavit jako tapetu
Name[cy]=Gosod fel Papur Wal
Name[da]=Sæt som tapet
Name[de]=Als Hintergrundbild verwenden
Name[el]=Ορισμός σαν Ταπετσαρία
Name[es]=Establecer como fondo
Name[et]=Sea taustapildiks
Name[fr]=Établir comme papier peint
Name[ga]=Socraigh mar Chúlbhrat
Name[hi]=वालपेपर के रूप में सेट करें
Name[hu]=Beállítás háttérképnek
Name[is]=Setja sem veggfóður
Name[it]=Imposta come immagine di sfondo
Name[ja]=壁紙として設定
Name[nl]=Als achtergrondafbeelding instellen
Name[pl]=Ustaw jako tapetę
Name[pt]=Colocar como Fundo de Ecrã
Name[pt_BR]=Configurar como papel de parede
Name[ru]=Сделать рисунком рабочего стола
Name[sr]=Постави као позадину
Name[sr@Latn]=Postavi kao pozadinu
Name[sv]=Ange som skrivbordsunderlägg
Name[ta]=வால்பேப்பராக அமைக்கவும்
Name[tg]=Танзими сурати мизи корӣ
Name[tr]=Duvar Kağıdı Yap
Name[uk]=Встановити як шпалери
Name[xx]=xxSet as Wallpaperxx
Name[zh_CN]=设为墙纸
