[Desktop Entry]
ServiceTypes=image/*
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 6
Icon=background
Name=Set as Wallpaper
Name[ar]=عيين كورق جدار
Name[bg]=Използване като тапет
Name[ca]=Estableix com a paper pintat
Name[cs]=Použít jako tapetu
Name[cy]=Gosod fel Papur Wal
Name[da]=Sæt som tapet
Name[de]=Als Hintergrundbild verwenden
Name[el]=Ορισμός σαν Ταπετσαρία
Name[es]=Establecer como fondo
Name[et]=Sea taustapildiks
Name[fa]=تنظیم به عنوان کاغذدیواری
Name[fi]=Aseta taustakuvaksi
Name[fr]=Établir comme papier peint
Name[gl]=Colocar como Fondo de Escritório
Name[hi]=वालपेपर के रूप में सेट करें
Name[hr]=Postavi na radnu površinu
Name[hu]=Beállítás háttérképnek
Name[is]=Setja sem veggfóður
Name[it]=Imposta come immagine di sfondo
Name[ja]=壁紙として設定
Name[ka]=ფონად მითითება
Name[ms]=Tetapn sebagai Kertas Dinding
Name[nds]=As Achtergrundbild fastleggen
Name[nl]=Als achtergrondafbeelding instellen
Name[pa]=ਵਾਲਪੇਪਰ ਸੈੱਟ ਕਰੋ
Name[pl]=Ustaw jako tapetę
Name[pt]=Colocar como Fundo de Ecrã
Name[pt_BR]=Configurar como papel de parede
Name[ru]=Сделать рисунком рабочего стола
Name[sk]=Nastaviť ako pozadie
Name[sr]=Постави као позадину
Name[sr@Latn]=Postavi kao pozadinu
Name[sv]=Ange som skrivbordsunderlägg
Name[ta]=வால்பேப்பராக அமைக்கவும்
Name[tg]=Танзими сурати мизи корӣ
Name[tr]=Duvar Kağıdı Yap
Name[uk]=Встановити як шпалери
Name[vi]=Đặt là ảnh nền màn hình
Name[xx]=xxSet as Wallpaperxx
Name[zh_CN]=设为墙纸
