[Desktop Entry]
ServiceTypes=image/*
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 6
Icon=background
Name=Set as wallpaper
Name[da]=Sæt som tapet
Name[de]=Als Hintergrundbild verwenden
Name[el]=Ορισμός σαν ταπετσαρία
Name[et]=Sea taustapildiks
Name[hu]=Beállítás háttérképnek
Name[it]=Imposta come immagine di sfondo
Name[pt]=Colocar como fundo de ecrã
Name[pt_BR]=Configurar como papel de parede
Name[ru]=Сделать рисунком рабочего стола
Name[sv]=Ange som skrivbordsunderlägg
Name[tr]=Duvar kağıdı yap
Name[xx]=xxSet as wallpaperxx
