/* Default text color for most widgets, but not tooltips (hence the '.' before
 * QLabel */
.QLabel, QPushButton, QToolButton, QCheckBox {
	color: #ccc;
}

/* Default borders, normal and hover */
QCheckBox::indicator, QPushButton, QSlider::groove, QSlider::handle {
	border: 1px solid #666;
}

QCheckBox::indicator:hover, QToolButton::hover, QPushButton:hover, QSlider::groove:hover, QSlider::handle:hover {
	border: 1px solid #ccc;
}

/* QToolButton */
QToolButton {
	padding: 2px;
	border-radius: 2px;
}

QToolButton:pressed {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #222, stop: 0.6 black, stop:1 black);
	border: 1px solid #444;
}

/* Containers */
#fullScreenBar {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #444, stop: 0.6 black, stop:1 black);
	border: 0px;
	border-bottom: 1px solid gray;
	padding: 0px;
}

#configDialog {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #444, stop: 0.6 black, stop:1 black);
	border: 1px solid gray;
}

/* QCheckBox */
QCheckBox::indicator {
	width: 16px;
	height: 16px;
	border: 1px solid #666;
	padding: 2px;
	border-radius: 3px;
}

QCheckBox::indicator:checked {
	image:url($themeDir/checked.png);
}

/* QPushButton */
QPushButton {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #333, stop: 0.5 black, stop:1 black);
	border-radius: 3px;
	padding: 3px;
}

QPushButton:hover {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #444, stop: 0.6 black, stop:1 black);
}

QPushButton:pressed {
	background-color: #111;
	padding-right: 1px;
	padding-bottom: 1px;
}

/* QSlider */
QSlider::groove {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 black, stop:1 #444);
	border-radius: 3px;
	height: 4px;
}

QSlider::handle {
	margin-top: -4px;
	margin-bottom: -4px;
	width: 12px;
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #333, stop: 0.5 black, stop:1 black);
	border-radius: 4px;
}

QSlider::handle:hover {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 #444, stop: 0.6 black, stop:1 black);
}

/* Thumbnail bar */
#thumbnailBarView {
	background-color: rgba(0, 0, 0, 10%);
	border: 1px solid rgba(0, 0, 0, 35%);
	border-radius: 2px;
	padding: 0px;
}

/* QScrollBar */
QScrollBar:horizontal {
	background-color: transparent;
	height: 8px;
	margin: 0 10px 0px 10px;
	padding: 0 2px 0px 2px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	width: 0px;
	border: 0px;
}

QScrollBar::add-line:horizontal {
	width: 10px;
	border: 0px;
	background: transparent;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	width: 10px;
	border: 0px;
	background: transparent;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar:left-arrow:horizontal {
	background: url($themeDir/scroll-left.png);
	height: 7px;
	width: 7px;
}

QScrollBar:right-arrow:horizontal {
	background: url($themeDir/scroll-right.png);
	height: 7px;
	width: 7px;
}

QScrollBar::handle:horizontal {
	border-radius: 3px;
	min-width: 20px;
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop: 0 rgb(86, 86, 86), stop: 0.5 rgb(54, 54, 54), stop: 0.51 rgb(22, 22, 22), stop: 1 rgb(54, 54, 54));
	border: 1px solid rgb(54, 54, 54);
	border-top: 1px solid rgb(110, 110, 110);
}

QScrollBar::handle:hover {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop: 0 rgb(94, 94, 94), stop: 0.5 rgb(62, 62, 62), stop: 0.51 rgb(30, 30, 30), stop: 1 rgb(62, 62, 62));
	border: 1px solid rgb(62, 62, 62);
	border-top: 1px solid rgb(118, 118, 118);
}

/* QListView::Item */
QListView::item {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 rgb(62, 62, 62), stop: 1 rgb(16, 16, 16));
	border-left: 1px solid
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 rgb(77, 77, 77), stop: 1 rgb(41, 41, 41));
	border-right: 1px solid
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 rgb(13, 13, 13), stop: 1 rgb(0, 0, 0));
}

QListView::item:selected {
	background-color:
		qlineargradient(x1:0, y1:0, x2:0, y2:1,
		stop:0 rgb(73, 160, 240), stop: 1 rgb(56, 122, 184));
	border-left: 1px solid rgb(46, 101, 152);
	border-right: 1px solid rgb(46, 101, 152);
}

/* Misc */
QLabel[isTitle=true] {
	font-weight: bold;
	color: white;
}

#line {
	border: none;
	border-top: 1px solid gray;
	height: 3px;
}
